version: "3.3"
services:
  graphql:
    container_name: postgraphile
    restart: always
    image: test-postgraphile
    build:
      context: .
    env_file:
      - ./.env
    expose:
      - "5433"
    command:
      [
        "--connection",
        "${DATABASE_URL}",
        "--port",
        "5433",
        "--append-plugins",
        "postgraphile-plugin-connection-filter",
        "--subscriptions",
        "--watch",
        "--dynamic-json",
        "--no-setof-functions-contain-nulls",
        "--no-ignore-rbac",
        "--no-ignore-indexes",
        "--show-error-stack=json",
        "--extended-errors",
        "hint,detail,errcode",
        "--export-schema-graphql",
        "schema.graphql",
        "--graphiql",
        "/",
        "--enhance-graphiql",
        "--allow-explain",
        "--enable-query-batching",
        "--legacy-relations",
        "omit",
        "--schema", 
        "b2b_api",
      ]

  nginx-auth:
    build: ./nginx
    ports:
      - "5433:5433"
    entrypoint:
      - -Ehttp.cors.enabled=true
      - -Ehttp.cors.allow-origin=xxx
      - -Ehttp.cors.allow-headers=Content-Type,Content-Length,Authorization
      - -Ehttp.cors.allow-credentials=true
    depends_on:
      - graphql
# command: ["--connection", "${DATABASE_URL}", "--port", "5433", "--schema", "public", "--append-plugins", "postgraphile-plugin-connection-filter"]
