version: "3.3"
services:
  graphql:
    container_name: postgraphile
    restart: always
    image: test-postgraphile
    build:
      context: .
    env_file:
      - ./.env
    ports:
      - 5433:5433
    command:
      [
        "--connection",
        "${DATABASE_URL}",
        "--port",
        "5433",
        "--append-plugins",
        "postgraphile-plugin-connection-filter",
        "--subscriptions",
        "--watch",
        "--dynamic-json",
        "--no-setof-functions-contain-nulls",
        "--no-ignore-rbac",
        "--no-ignore-indexes",
        "--show-error-stack=json",
        "--extended-errors",
        "hint,detail,errcode",
        "--export-schema-graphql",
        "schema.graphql",
        "--graphiql",
        "/",
        "--enhance-graphiql",
        "--allow-explain",
        "--enable-query-batching",
        "--legacy-relations",
        "omit",
        "--schema", 
        "b2b_api",
      ]
  apollo:
    container_name: apollow
    restart: always
    image: test-apollo
    build:
      context: .
    env_file:
      - ./.env
    command:
      [
      "service:push",
      "--graph=OvesStaging",
      "--key=service:OvesStaging:mMfyJNZvsooyU7eQv5zTPQ",
      "--variant=current",
      "--endpoint=http://18.136.183.201:5433/"
      ]

# command: ["--connection", "${DATABASE_URL}", "--port", "5433", "--schema", "public", "--append-plugins", "postgraphile-plugin-connection-filter"]
